#wrapper { width: 100%; }
header { width: 100%; height: 92px; }
#container { width: 1200px; margin: 0 auto; }
#container > section { padding-top: 120px; }
#home { width: 100%; height: 350px; }
#about { width: 100%; height: 444px; }
#skill { width: 100%; height: 320px; }
#works { width: 100%; height: 569px; }
#contact { width: 100%; height: 609px; }
footer { width: 1200px; height: 100px; margin: 0 auto; }