header { position: fixed; background-color: #FFF; z-index: 100; }
.headerWrap { width: 1200px; height: 70px; opacity: 0.9; margin: 0 auto; padding-top: 22px; }
.headerImg { width: 50px; height: 50px; float: left; margin-left: 20px; }
.headerImg img { width: 100%; }
nav.gnb { height: 50px; float: right; }
.gnb li { float: left; padding: 15px; font-size: 12px; }
.gnb li a { display: block; width: 100%; height: 20px; letter-spacing: 1px; }
.gnb li:first-child a { border-bottom: 2px solid #000; }

#container {}
h2, .myCats { font-size: 40px; font-weight: 100; margin-bottom: 15px; }
section p { color: #878787; line-height: 27px; }
#home {}
.myPic {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-left: 150px;
    margin-right: 100px;
}
.myPic img {
    width: 100%;
    position: absolute;
    top: -15px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0.7); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(0.7); /* Microsoft Edge and Firefox 35+ */
}
.myDesc { width: 750px; float: left; padding: 20px 0 10px; position: relative; }
.myDesc h1 { font-size: 50px; font-weight: 200; color: #3d3d3f; line-height: 60px; letter-spacing: 1.5px; }
.myDesc h1 span { font-size: 35px; display: block; line-height: 40px; }
a.homeBtn {
    width: 200px;
    height: 50px;
    background-color: #D7B065;
    color: #FFF;
    font-size: 13px;
    margin: 0 auto;
    position: absolute;
    bottom: -80px;
    left: 0;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

#about {}
.aboutWrap { width: 780px; float: left; padding-top: 15px; }
.aboutDesc { width: 750px; float: left; margin-right: 15px; }
.aboutDesc strong { display: block; margin-bottom: 25px; }

#skill {}
.skillWrap { width: 360px; float: left; }
.skillDesc { margin: 15px 0 25px; }

#contact {}
#contact h2, #contact > p { text-align: center; }
.emailWrap { width: 1140px; margin: 0 auto; }
.emailWrap P { float: left; }
.emailWrap input { width: 350px; height: 55px; margin: 0 15px; border: 0 none; border-bottom: 1px solid #F0F0F0; }
.emailWrap textarea { width: 1110px; height: 126px; border: 1px solid #F0F0F0; }